@model BugTracker.Models.Company

@{
    ViewData["Title"] = "Details";
}



<div>
    <h1>Company Details</h1>
    <hr />
    <div class="card">
        <div class="card-body">
            <dl class="row">

                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Description)
                </dd>
                
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ImageData)
                </dt>
                <dd>
                    @if (Model.ImageData != null)
                    {
                        <img style="width:60px;height:60px" src="data:image/*;base64,@(Convert.ToBase64String(Model.ImageData))" alt="" />
                    }
                </dd>
            </dl>
        </div>
    </div>
    
</div>
<div>
     
    <a asp-controller="Home" asp-action="Dashboard">Back to Dashboard</a>
</div>
